@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
    /* font-family: 'Poppins', sans-serif; */
    /* TEXT */
    /* font-family: 'Baloo 2', cursive; */
    /* Titles */

    font-weight: bold;
}

.circle-dashboard-icon-outline {
    background-color: yellow;
    width: 2.5rem;
    height: 2.5rem;
    padding: 5px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    /* background-image: url("images/list-icon.svg"); */
    width: 1.8rem;
    height: 1.8rem;
    background-size: cover;
    background-position: center;
}